{% extends 'main.html' %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center pt-5 pb-3">
            <h1 class="display-4 text-white animated slideInDown mb-3">Testimonial</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Testimonial</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Testimonial Start -->
    <div class="container-fluid bg-light my-6 py-6 pb-0 w-100" style="margin: 6rem 0;">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="text-primary text-uppercase mb-2">// Client's Review</p>
                <h1 class="display-6 mb-4">More Than 20000+ Customers Trusted Us</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">

                {% for feedback in feedbacks %}

                <div class="testimonial-item bg-white rounded p-4">

                    <div class="d-flex align-items-center mb-4">

                        <div class="flex-shrink-0 rounded-circle border p-1
                                    d-flex align-items-center justify-content-center"
                            style="width:60px; height:60px;">

                            <i class="fa fa-user text-primary"></i>

                        </div>

                        <div class="ms-4">

                            <h5 class="mb-1">
                                {{ feedback.user.first_name }}
                                {{ feedback.user.last_name }}
                            </h5>

                            <span>
                                {{ feedback.profession }}
                            </span>

                        </div>

                    </div>

                    <!-- Rating -->
                    <div class="mb-2 text-primary">

                        {% if feedback.rating >= 1 %}★{% endif %}
                        {% if feedback.rating >= 2 %}★{% endif %}
                        {% if feedback.rating >= 3 %}★{% endif %}
                        {% if feedback.rating >= 4 %}★{% endif %}
                        {% if feedback.rating >= 5 %}★{% endif %}

                    </div>

                    <!-- Feedback -->
                    <p class="mb-0">
                        {{ feedback.message }}
                    </p>

                </div>

                {% empty %}

                <div class="text-center">
                    <p>No customer reviews yet.</p>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock content %}
